{% extends 'base.html.twig' %}
{% block title %}Page d'administration
{% endblock %}
{% block body %}
	{{ include('overlay/_navbar.html.twig') }}
	<div class="main">
		<h1>Surveillez la santé <br> 
        de votre entreprise
        </h1>
        <p>Controlez et analysez vos données de la meilleure façon possible</p>
	</div>
{% endblock %}
