{% extends 'base.html.twig' %}
{% block title %}Page d'administration
{% endblock %}
{% block body %}
	{{ include('overlay/_navbar.html.twig') }}
	<div class="main flex-row dashboard">
		<div>
            <div>
                <div class="flex-row">
                    <div>
                        <h1 class="title-dashboard">Surveillez la santé
                            <br>
                            de votre entreprise
                        </h1>
                        <p>Controlez et analysez vos données de la meilleure façon possible</p>
                    </div>
                    <div class="title-tool">
                        <div>
                            <input type="text" class="search-bar shadow">
                            </input>
                            <span class="material-symbols-outlined small">
                                calendar_month
                            </span>
                        </div>
                        <div class="button-list">
                            <button class="button-selected shadow">
                                Semaine
                            </button>
                            <button class="button-selected shadow">
                                Mois
                            </button>
                            <button class="button-selected shadow">
                                Année
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-list">
                    <div class="card shadow" id="card-one">
                        <div>
                            <p>Nb de sondages</p>
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z" fill="currentColor"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3C6.40848 3 1.71018 6.82432 0.378052 12C1.71018 17.1757 6.40848 21 12 21C17.5915 21 22.2898 17.1757 23.6219 12C22.2898 6.82432 17.5915 3 12 3ZM16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" fill="currentColor"/></svg>
                        </div>
                        <p>25</p>
                    </div>
                    <div class="card shadow" id="card-two">
                        <div>
                            <p>Clients</p>
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 9C16 11.2091 14.2091 13 12 13C9.79086 13 8 11.2091 8 9C8 6.79086 9.79086 5 12 5C14.2091 5 16 6.79086 16 9ZM14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9Z" fill="currentColor"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1ZM3 12C3 14.0902 3.71255 16.014 4.90798 17.5417C6.55245 15.3889 9.14627 14 12.0645 14C14.9448 14 17.5092 15.3531 19.1565 17.4583C20.313 15.9443 21 14.0524 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM12 21C9.84977 21 7.87565 20.2459 6.32767 18.9878C7.59352 17.1812 9.69106 16 12.0645 16C14.4084 16 16.4833 17.1521 17.7538 18.9209C16.1939 20.2191 14.1881 21 12 21Z" fill="currentColor"/></svg>
                        </div>
                        <p>
                            <span id="nb-clients">63
                            </span>
                            <span id="plus-client">+1 depuis hier</span>
                        </p>
                    </div>
                    <div class="card shadow" id="card-three">
                        <div>
                            <p>Taux de clics</p>
                            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 7C15 6.44772 15.4477 6 16 6C16.5523 6 17 6.44772 17 7V17C17 17.5523 16.5523 18 16 18C15.4477 18 15 17.5523 15 17V7Z" fill="currentColor"/><path d="M7 15C7 14.4477 7.44772 14 8 14C8.55228 14 9 14.4477 9 15V17C9 17.5523 8.55228 18 8 18C7.44772 18 7 17.5523 7 17V15Z" fill="currentColor"/><path d="M12 10C11.4477 10 11 10.4477 11 11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V11C13 10.4477 12.5523 10 12 10Z" fill="currentColor"/></svg>
                        </div>
                        <p>12%</p>
                    </div>
                </div>
            </div>
            <div class="card shadow" id="card-fourth">
                <p>Réponses aux sondages</p>
            </div>
        </div>
        <div class="dashboard-card-list">
            <div class="card tertiary shadow">
                <p>Sondage récents</p>
                <div class="entry-list">
                    <a href="#" class="entry-round">Sondage sur votre utilisation...
                    </a>
                    <a href="#" class="entry-round">Sondage sur votre utilisation...
                    </a>
                </div>
            </div>
            <div class="card quaternary shadow">
                <p>Statistiques récentes</p>
                <div class="entry-list">
                    <a href="#" class="entry-round">Sondage sur votre utilisation...
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
