<div class="navbar">
	<a>
		<span class="icon material-symbols-outlined">home</span>
	</a>
	<a>
		<span class="material-symbols-outlined">
			description
		</span>
	</a>
	<a>
		<span class="material-symbols-outlined">
			analytics
		</span>
	</a>
	<a>
		<span class="material-symbols-outlined">
			quiz
		</span>
	</a>
	<a>
		<span class="material-symbols-outlined">
			group
		</span>
	</a>
	<a>Paramètres</a>
	<a>Deconnexion</a>
</div>
