<div class="pop-up-add">
	<div class="data-clients">
		<table>
			<thead>
				<tr>
					<th>Pseudo</th>
					<th>Mail</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-white">
					<td>1</td>
					<td>michel.blanc@gmail.com</td>
					<td><input type="checkbox"></td>
				</tr>
				<tr class="table-gray">
					<td>2</td>
					<td>mohamed.djibali@gmail.com</td>
					<td><input type="checkbox"></td>
				</tr>
				<tr class="table-white">
					<td>3</td>
					<td>pierre.delaroche@gmail.com</td>
					<td><input type="checkbox"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="options">
		<a href="" class="button-selected">Ajouter</a>
		<input type="text" class="search-bar shadow">
	</div>
</div>
