{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil !
{% endblock %}

{% block body %}
	<div id="first-page">
		<nav>
			<div id="navigation">
				<div>
					<img src="/assets/img/logo.png" alt="Logo Créasosm" class="logo">
				</div>
				<div id="nav-button">
					<a href="#" class="button nav-button-a light-button-filed">Connexion</a>
					<a href="#" class="button nav-button-a border-button">Inscription</a>
				</div>
			</div>
		</nav>
		<div id="square">
			<div id="square-1">
				<h1 class="commissioner" id="title-creacosm">
					CRÉACOSM
				</h1>
				<p>
					Site web Créasosm permettant de receuillir votre ressenti sur nos produits ! N'hésitez pas à donner votre avis pour nous aider à nous améliorer.
				</p>
				<a href="#" class="button light-button-filed">Contactez-Nous</a>
			</div>
			<div id="square-2">
				<div></div>
			</div>

		</div>
		<a href="#" class="button">Découvrir nos Sondages</a>

	</div>
{% endblock %}
