{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil !
{% endblock %}

{% block body %}
	<div id="first-page">
		<nav>
			<div id="navigation">
				<div>
					<img src="/assets/img/logo.png" alt="Logo Créasosm" class="logo">
				</div>
				<div id="nav-button">
					<a href="#" class="button nav-button-a light-button-filed">Connexion</a>
					<a href="#" class="button nav-button-a border-button">Inscription</a>
				</div>
			</div>
		</nav>
		<div id="square">
			<div id="square-1">
				<h1>
					Créacosm
				</h1>
				<p>
					Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do
					Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. 
					Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation Ullamco
				</p>
				<a href="#" class="button">Contactez-Nous</a>
			</div>
			<div id="square-2">
			<div></div>
			</div>

		</div>
		<a href="#" class="button">Découvrir nos Sondages</a>

	</div>
{% endblock %}
