{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil !
{% endblock %}

{% block body %}
	<section class="viewhh">
		<section class="viewh">
			<nav>
				<div id="navigation">
                    <img src="/assets/img/logo.png" alt="Logo Créasosm" class="logo">
					<div id="nav-button" class="commissioner">
						<a href="{{path('app_login')}}" class="button-filed">Connexion</a>
						<a href="#" class="border-button">Inscription</a>
					</div>
				</div>
			</nav>
			<div id="square">
				<div id="square-1">
					<h1 class="commissioner" id="title-creacosm">
						CRÉACOSM
					</h1>
					<p>
						Site web Créasosm permettant de receuillir votre ressenti sur nos produits ! N'hésitez pas à donner votre avis.
					</p>
					<a href="#" class="button-filed commissioner">Contactez-Nous</a>
				</div>
				<div id="square-2">
					<div>
						<img src="/assets/img/undraw_projections.svg" alt="Logo Créasosm">
					</div>
				</div>

			</div>
			<div class="center">
				<a href="#" class="border-button-grey commissioner">Découvrir nos Sondages</a>
			</div>
		</section>
		<section id="second-page">
			<div class="cinq-vh"></div>
			<div id="second-square">
				<div id="second-square-one">
					<img src="/assets/img/undraw_statistic_chart.svg" alt="Logo Créasosm">
				</div>
				<div id="second-square-two">
					<div class="square-up">
						<div class="one-square">
							<p class="psquare commissioner">
								Nous analysons les données récoltées pour essayer de nous améliorer chaque jour que ce soit dans la qualité des produits ou de nos services !
							</p>
						</div>
					</div>
					<div class="square-down">
						<div class="two-square">
							<p class="psquare-mini commissioner">
								Obtenir des informations clés sur les préférences des consommateurs est essentiel pour améliorer au mieux vos produits cosmétiques. Grâce à nos statistiques poussées nous pouvons comprendre les bons et mauvais aspects de notre travail.
							</p>
						</div>
						<div class="three-square">
							<p class="psquare-mini commissioner">
								Notre outil de statistiques vous permet de suivre les tendances des utilisateurs et de prendre des décisions informées. Nos analyses approfondies nous permettent de prendre des décisions éclairées en matière de développement de produits.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
{% endblock %}
