{% extends 'base.html.twig' %}
{% block title %}Création d'un sondage
{% endblock %}


{% block body %}
    {# include 'overlay/_topbar.html.twig' #}
    {{ include('overlay/_navbar.html.twig') }}
    <div class="main create-poll">
        <div class="flex-row">
            <div class="card card-two-side shadow">
                <div>
                    <h2>Détails</h2>
                </div>
                <div>
                    <div class="attribut">
                        <div>
                            <span class="material-symbols-outlined">person</span>
                        </div>
                        <div>
                            <p>Propriétaire</p>
                            <p>TEST</p>
                        </div>
                    </div>
                    <div class="attribut">
                        <div>
                            <span class="material-symbols-outlined">calendar_month</span>
                        </div>
                        <div>
                            <p>Date de création</p>
                            <p>06/01/2023 21:52</p>
                        </div>
                    </div>
                    <div class="attribut">
                        <div>
                            <span class="material-symbols-outlined">send</span>
                        </div>
                        <div>
                            <p>Nombres de réponses</p>
                            <p>---</p>
                        </div>
                    </div>
                    <div class="attribut">
                        <div>
                            <span class="material-symbols-outlined">public</span>
                        </div>
                        <div>
                            <p>Date de publication</p>
                            <p>---</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-column column-info-sondage">
                <div id="infoSondage-form" class="card card-two-side shadow">
                    <div>
                        <h2>Informations</h2>
                    </div>
                    <div>
                        <div class="flex-column">
                            <label>Titre</label>
                            <input type="text" placeholder="Titre"> </input>
                            <label>Description</label>
                            <textarea placeholder="description"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="button-collection">
                        <button class="button-success button" type="submit">Sauvegarder</button>
                        <button class="button-info button" type="submit">Publier</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="scrollable-list-card shadow">
            <div>
                <h2>Utilisateurs autorisés</h2>
                <a class="square-button shadow" href="#">
                    <span class="material-symbols-outlined">add</span>
                </a>
            </div>
            <div class="list">
                <div>
                    <h3>Nom</h3>
                </div>
                <div>
                    <p>Zozo</p>
                    <a href="#">
                        <span class="material-symbols-outlined">delete</span>
                    </a>
                </div>
                <div>
                    <p>mourc</p>
                    <a href="#">
                        <span class="material-symbols-outlined">delete</span>
                    </a>
                </div>
                <div>
                    <p>harry peter parker</p>
                    <a href="#">
                        <span class="material-symbols-outlined">delete</span>
                    </a>
                </div>
                <div>
                    <p>yohan le iencli</p>
                    <a href="#">
                        <span class="material-symbols-outlined">delete</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="scrollable-list-card shadow">
            <div>
                <h2>Liste des questions</h2>
                <a class="square-button shadow" href="#">
                    <span class="material-symbols-outlined">add</span>
                </a>
            </div>
            <div class="list">
                <div>
                    <h3 style="width: 10%; text-align: center">Numéro</h3>
                    <h3 style="width: 70%">Question</h3>
                    <h3 style="width: 10%">Type</h3>
                    <h3 style="width: 10%">Actions</h3>
                </div>
                <div>
                    <p style="width: 10%; text-align: center">1</p>
                    <p style="width: 70%">De 1 à 10, notre marque vous inspire t-elle confiance ?</p>
                    <p style="width: 10%">Type</p>
                    <div style="width: 10%">
                        <a href="#">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                        <a href="#">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                    </div>
                </div>
                <div>
                    <p style="width: 10%; text-align: center">1</p>
                    <p style="width: 70%">De 1 à 10, notre marque vous inspire t-elle confiance ?</p>
                    <p style="width: 10%">Type</p>
                    <div style="width: 10%">
                        <a href="#">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                        <a href="#">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                    </div>
                </div>
                <div>
                    <p style="width: 10%; text-align: center">1</p>
                    <p style="width: 70%">De 1 à 10, notre marque vous inspire t-elle confiance ?</p>
                    <p style="width: 10%">Type</p>
                    <div style="width: 10%">
                        <a href="#">
                            <span class="material-symbols-outlined">delete</span>
                        </a>
                        <a href="#">
                            <span class="material-symbols-outlined">edit</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="#popupQuestion" style="display: none">
            <h2>Créer une question</h2>
            <form>
                <div class="flexQuestion">
                    <div>
                        <label>Question à </label>
                        <select>
                            <option>choix multiple</option>
                            <option>choix unique</option>
                            <option>nombre</option>
                            <option>texte</option>
                        </select>
                    </div>
                    <div>
                        <label>L'intitulé de la question : </label>
                        <textarea></textarea>
                    </div>
                    <div class="listeReponse">
                        <!--jsp comment faut faire ici-->
                        <input type="text"/>
                        <input type="text">
                    </div>
                </div>
                <div class="boutonFormQuestion">
                    <button type="submit">Ajouter</button>
                    <button id="closePopupQuestion">Annuler</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        /*let popUpQuestion = document.getElementById("#popupQuestion")
        let btnAjouterQuestion = document.getElementById("#btnAjouterQuestion")
        let btnFermerPopUp = document.getElementById("#closePOpUpQuestion")

        btnAjouterQuestion.onclick = function (){
            popUpQuestion.style.display = "block"
        }
        btnFermerPopUp.onclick = function (){
            popUpQuestion.style.display = "none"
        }*/
    </script>

{% endblock %}
