{% extends 'base.html.twig' %}
{% block title %}Fin du sondage
{% endblock %}
{% block body %}
<section class="viewh2">
    <h2>Fin du sondage</h2>

    <p>Le sondage est terminé, merci de votre participation.</p>
</section>
{% endblock %}