{% extends 'base.html.twig' %}
{% set title = 'Statistiques' %}
{% block title %}
	{{ title }}
{% endblock %}

{% block body %}


	<div class="overlay"></div>

	{{ include('overlay/_navbar.html.twig') }}
	{{ include('overlay/_topbar.html.twig') }}

	<div class="main">
		<div>
			<div class="text-align-center">
				<a href="" class="square-blue-button shadow">
					<span class="material-symbols-outlined small">
						add
					</span>
				</a>
				<div class="center">
					<div class="search-container large">
						<input type="text" class="search-bar shadow">
						<span class="material-symbols-outlined">
							search
						</span>
					</div>
				</div>
			</div>

			<div class="cards cards-stats">

				<div class="card shadow">
					<p>Moyenne d'age</p>
					<p>25</p>
				</div>
				<div class="card shadow">
					<p>Note acceuil client</p>
					<p>8.3</p>
				</div>
				<div class="card shadow">
					<p>Médianne avis marque grand nom</p>
					<p>79/100</p>
				</div>
				<div class="card shadow">
					<p>Avis</p>
					<p>4.2</p>
				</div>
				<div class="card shadow">
					<p>Sondages répondus</p>
					<p>749</p>
				</div>
				<div class="card shadow">
					<p>Avis soin crème</p>
					<p>7.6</p>
				</div>
			</div>
			<div class="charts-container" onresize="responsiveFonts()">
				<canvas id="bar"></canvas>
			</div>
		</div>

	{% endblock %}

	{% block javascripts %}
		<script type="module" src="/assets/js/statistiques.js"></script>
	{% endblock %}
