@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#first-page{
    width: 100vw;
    height: 100vh;
}

.logo {
  width: 200px;
  height: 90px;
  padding: 15px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

#inscription {
  background-color: #fff;
  border-radius: 50px;
  font-size: 20px;
  border: 5px;
  border-color: #0b65ab;
}

.light-button-filed {
  background-color: #0b65ab;
  border-radius: 24px;
  font-size: 20px;
  padding: 12px 52px 12px 52px;
  color: white;
}

.border-button {
  color: black;
  background-color: #fff;
  border-radius: 24px;
  font-size: 20px;
  padding: 12px 52px 12px 52px;
  border: 3px solid #0b65ab;
  margin-left: 40px;
}

#square-1 {
  background-color: red;
  width: 50vw;
  height: 50vh;
}

#square-2 {
  width: 50vw;
  height: 60vh;
}

#square-2 div{
    background-color: #0b65ab;
    width: 45vw;
    height: 66vh;
}

#square{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60vh;
}
