@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@500&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#first-page {
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 200px;
  height: 90px;
  padding: 15px;
}

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

#inscription {
  background-color: #fff;
  border-radius: 50px;
  font-size: 20px;
  border: 5px;
  border-color: #0b65ab;
}

.light-button-filed {
  background-color: #0b65ab;
  border-radius: 24px;
  font-size: 20px;
  padding: 12px 52px 12px 52px;
  color: white;
}

.border-button {
  color: black;
  background-color: #fff;
  border-radius: 24px;
  font-size: 20px;
  padding: 12px 52px 12px 52px;
  border: 3px solid #0b65ab;
  margin-left: 40px;
}

.border-button-grey {
  color: black;
  background-color: #fff;
  border-radius: 24px;
  font-size: 20px;
  padding: 12px 52px 12px 52px;
  border: 3px solid grey;
  margin-left: 40px;
  margin-top: 35px;
}

#square-1 {
  width: 45vw;
  height: 66vh;
}

#square-2 {
  width: 55vw;
  height: 60vh;
}

#square-2 div {
  background-color: #0b65ab;
  width: 42vw;
  height: 60vh;
  margin-left: 80px;
  margin-top: 50px;
  border-radius: 24px;
}

#square {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 66vh;
}

.commissioner {
  font-family: "Commissioner", sans-serif;
}

#title-creacosm {
  letter-spacing: 8px;
  font-size: 90px;
  font-weight: 200;
  margin-top: 65px;
  margin-bottom: 40px;
}

#square-1 h1,
p,
a {
  margin-left: 100px;
}

#square-1 p {
  margin-bottom: 50px;
  margin-right: 50px;
  font-family: sans-serif;
  font-size: 20px;
}

#square-2 div img {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
